@media (max-width: 1280px){
    body{
        padding: 0 40px;
    }
}

@media (max-width: 768px){
    


    }


@media (max-width: 425px){

.slide img{
    max-width: 350px;
}

.manual-navigation{
    display: none;
}
.manual-btn{
    display: none;
}

.navigation-auto div{
    display: none;
}

}    
    