body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main::after{
    content: '';
    min-height: 100vh;
    width: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


.slider{
    margin: 0 auto;
    width: 800px;
    height: 800px;
    overflow: hidden;
}

.slides{
    width: 800%;
    height: 800px;
    display: flex;
    object-fit: cover;

}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(159, 69, 208);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(208, 66, 244);
    
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
border: 2px solid red;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 700px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(255, 0, 242);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(255, 0, 242);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(255, 0, 242);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(255, 0, 242);
}